<%
%>
    </div>
    <footer class="mt-auto text-center">
      <p>
        <a href='https://gitlab.com/jcolyer/recipes' target='_blank'>View source code<a/>
        |
        <a href='https://gitlab.com/-/ide/project/jcolyer/recipes/edit/master/-/' target='_blank'>Edit source code<a/>
      </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/intl.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.colVis.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
