<%

@recipes = recipes

%>
<nav class='navbar navbar-expand-lg bg-light'>
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      Recipes
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% @recipes.map { |r| r['category'].downcase }.sort.uniq.each do |c| %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= c.capitalize %>
            </a>
            <ul class="dropdown-menu">
              <% @recipes.select { |r| r['category'].downcase == c }.sort_by { |r| r['name'] }.each do |r| %>
                <li><a class="dropdown-item" href="<%= r['name'].downcase.gsub(' ', '_') %>.html"><%= r['name'].capitalize %></a></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="<%= c.downcase.gsub(' ', '_') %>.html">List all <%= c.capitalize.pluralize %></a></li>
            </ul>
          </li>
          <% end %>
        <li class="nav-item">
          <a class="nav-link" href="contribute.html">Contributions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
